<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.AppointmentMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.vo.AppointVo">
        <result property="labId" column="lab_id" jdbcType="INTEGER"/>
        <result property="cur" column="cur" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="capacity" column="capacity" jdbcType="BIGINT"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,start_time,end_time
    </sql>
    <insert id="addAppointmentForIndividual">
        insert
        into sys_appointment
        (user_id,
         lab_id,
         experiment_name,
         purpose,
         book_time,
         time_slot_id,
         `type`,
         major_id,
         class_number,
         `time`,
         create_time,
         update_time,
         status)
        select #{data.userId},
               #{data.labId},
               #{data.experimentName},
               #{data.purpose},
               DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day),
               #{data.timeSlotId},
               '0',
               #{data.majorId},
               #{data.classNumber},
               concat((select start_time from sys_time_slot where sys_time_slot.id = #{data.timeSlotId}), ' ~ ',
                      (select end_time from sys_time_slot where sys_time_slot.id = #{data.timeSlotId})),
               now(),
               now(),
               '1'
        where exists(
                select *
                from sys_lab_schedule inner join sys_lab on sys_lab.id=sys_lab_schedule.lab_id
                where sys_lab_schedule.lab_id = #{data.labId}
                  and sys_lab_schedule.weekday = (DAYOFWEEK(DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)))
                  and status = "0")
          and not exists(
                select *
                from sys_appointment
                where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                  and time_slot_id = #{data.timeSlotId}
                  and ((lab_id = #{data.labId} and `type` = '1') or user_id = #{data.userId}))
          and
          (select sys_lab.capacity from sys_lab where sys_lab.id=#{data.labId})>
          (select count(*)
                from sys_appointment
                where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                and time_slot_id = #{data.timeSlotId}
                and lab_id = #{data.labId})
    </insert>
    <insert id="addAppointmentForClass">
        insert
        into
            sys_appointment
        (
            user_id,
            lab_id,
            experiment_name,
            purpose,
            book_time,
            time_slot_id,
            `type`,
            major_id,
            class_number,
            `time`,
            create_time,
            update_time,
            status,
            grade
        )
        select
            #{data.userId},
            #{data.labId},
            #{data.experimentName},
            #{data.purpose},
            DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day),
            #{data.timeSlotId},
            '1',
            #{data.majorId},
            #{data.classNumber},
            concat((select start_time from sys_time_slot where sys_time_slot.id=#{data.timeSlotId}),' ~ ',(select end_time from sys_time_slot where sys_time_slot.id=#{data.timeSlotId})),
            now(),
            now(),
            '0',
            #{data.grade}
            where
            exists (
            select
            *
            from
            sys_lab_schedule
            where
            sys_lab_schedule.lab_id = #{data.labId}
            and sys_lab_schedule.weekday =(DAYOFWEEK(DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day))))
            and not exists (
                select
                *
                from
                sys_appointment
                where
                book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                and time_slot_id = #{data.timeSlotId}
                and user_id = #{data.userId})
          and (select count(*)
               from sys_appointment
               where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                 and time_slot_id = #{data.timeSlotId}
                 and lab_id = #{data.labId}) = 0
          and exists(select * from sys_lab where id = #{data.labId} and status = "0")
          and not exists(select *
                         from sys_appointment
                         where sys_appointment.class_number = #{data.classNumber}
                           and sys_appointment.major_id = #{data.majorId}
                           and sys_appointment.grade = #{data.grade}
                           and sys_appointment.book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                           and sys_appointment.time_slot_id = #{data.timeSlotId})
    </insert>
    <select id="getTargetTypeAppointment" resultType="com.cuit9622.olms.vo.AppointVo">
        select sys_lab.id                                                                              lab_id,
               name,
               capacity,
               location,
               `type`,
               (select count(*)
                from sys_appointment
                where sys_appointment.lab_id = sys_lab.id
                  and sys_appointment.time_slot_id = #{timeSlotId}
                  and sys_appointment.book_time = DATE_ADD(CURRENT_DATE(), interval #{offsetDay} day)) cur
        from sys_lab
        where `type` like concat('%', #{type}, '%')
          and status = "0"
          and exists(
                select *
                from sys_lab_schedule
                where sys_lab_schedule.lab_id = sys_lab.id
                  and sys_lab_schedule.weekday = (DAYOFWEEK(DATE_ADD(CURRENT_DATE(), interval #{offsetDay} day))))
          and not exists(
                select *
                from sys_appointment
                where book_time = DATE_ADD(CURRENT_DATE(), interval #{offsetDay} day)
                  and time_slot_id = #{timeSlotId}
                  and (`type` = '1' or user_id = #{userId})
                  and lab_id = sys_lab.id)
    </select>
    <select id="selectAppointmentUser" resultType="com.cuit9622.olms.vo.AttendanceManagerVo">
        select * from(
        select
        app.id,
        app.user_id,
        real_name,
        username,
        experiment_name,
        (
        select
        `status`
        from
        sys_attendance
        where
        sys_attendance.appointment_id = app.id
        and sys_attendance.user_id = sys_user.id) `status`,
        0 `type`
        from
        sys_appointment app,
        sys_user
        where
        app.user_id = sys_user.id
        and app.lab_id = #{labId}
        and app.time_slot_id = #{slotId}
        and app.book_time = #{day}
        and app.`type`="0"
        and app.status='1'
        union all
        select
        sys_user.id,
        app.id user_id,
        student_name real_name,
        sid user_name,
        experiment_name,
        (
        select
        `status`
        from
        sys_attendance
        where
        sys_attendance.appointment_id = app.id
        and sys_attendance.user_id = sys_user.id) `status`,
        1 `type`
        from
        sys_appointment app
        inner join sys_user_student student on student.class_number = app.class_number
            and app.major_id = app.major_id
            and app.grade = app.grade
        inner join sys_user on sys_user.username = sid
        where
        app.lab_id = #{labId}
        and app.time_slot_id = #{slotId}
        and app.book_time = #{day}
        and app.`type`="1"
        and app.status='1'
        ) as T
        <if test="model.name != null and model.name !='' ">
            where T.real_name like concat('%',#{model.name}, '%')
        </if>
    </select>
    <select id="pageAppointRecordForPerson" resultType="com.cuit9622.olms.vo.AppointRecordVo">
        select sa.id, su.username,su.real_name appointUsername, sl.name labName, sa.experiment_name, sa.purpose,
        sa.book_time,
        sts.start_time, sts.end_time,
        sa.time,sa.create_time, sa.status
        from sys_appointment sa
        left join sys_lab sl on sl.id = sa.lab_id
        left join sys_user su on su.id = sa.user_id
        left join sys_time_slot sts on sa.time_slot_id = sts.id
        where sa.type = '0'
        <if test="labId != null and labId != -1">
            and sa.lab_id = #{labId}
        </if>
    </select>
    <select id="pageAppointRecordForClass" resultType="com.cuit9622.olms.vo.AppointRecordVo">
        select sa.id,su.username, su.real_name appointUsername, sl.name labName, sa.experiment_name, sa.purpose,
        sa.book_time,
        sts.start_time, sts.end_time,
        sm.major_name, sa.grade, sa.class_number,sa.time, sa.create_time, sa.status
        from sys_appointment sa
        left join sys_lab sl on sl.id = sa.lab_id
        left join sys_user su on su.id = sa.user_id
        left join sys_major sm on sa.major_id = sm.id
        left join sys_time_slot sts on sa.time_slot_id = sts.id
        where sa.type = '1'
        <if test="labId != null and labId != -1">
            and sa.lab_id = #{labId}
        </if>
    </select>
    <select id="getAppointLabs" resultType="java.util.Map">
        select sl.id,
               sl.name
        from sys_lab sl
        where sl.id in (select sa.lab_id
                        from sys_appointment sa
                        where sa.type = #{type})
    </select>
    <select id="testIsBookedOnTargetTime" resultType="com.cuit9622.olms.model.Count">
        select
            count(*) `count`
        from
            sys_appointment
        where
            book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
          and time_slot_id = #{data.timeSlotId}
          and user_id = #{data.userId}
    </select>
    <select id="testIsBookedByPerson" resultType="com.cuit9622.olms.model.Count">
        select count(*) `count`
        from sys_appointment
        where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
          and time_slot_id = #{data.timeSlotId}
          and lab_id = #{data.labId}
    </select>
    <select id="testTargetClassIsBooked" resultType="com.cuit9622.olms.model.Count">
        select count(*) `count`
        from sys_appointment
        where sys_appointment.class_number = #{data.classNumber}
          and sys_appointment.major_id = #{data.majorId}
          and sys_appointment.grade = #{data.grade}
          and sys_appointment.book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
          and sys_appointment.time_slot_id = #{data.timeSlotId}
    </select>
    <select id="testIsBookedByClass" resultType="com.cuit9622.olms.model.Count">
        select count(*) `count`
        from sys_appointment
        where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
          and time_slot_id = #{data.timeSlotId}
          and lab_id = #{data.labId}
          and `type` = '1'
    </select>
    <select id="testIsFull" resultType="com.cuit9622.olms.model.Count">
        select 1 `count` where
        (select count(*)
                from sys_appointment
                where book_time = DATE_ADD(CURRENT_DATE(), interval #{data.offsetDay} day)
                and time_slot_id = #{data.timeSlotId}
                and lab_id = #{data.labId})
        >=
        (select sys_lab.capacity from sys_lab where sys_lab.id=#{data.labId})
    </select>
</mapper>