<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.AttendanceMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.Attendance">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="appointmentId" column="appointment_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="absenceReason" column="absence_reason" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.cuit9622.olms.vo.AttendanceForPersonVo">
        <result property="labName" column="name" jdbcType="VARCHAR"/>
        <result property="experimentName" column="experiment_name" jdbcType="VARCHAR"/>
        <result property="bookTime" column="book_time" jdbcType="DATE"/>
        <result property="startTime" column="start_time" jdbcType="TIME"/>
        <result property="endTime" column="end_time" jdbcType="TIME"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,appointment_id,
        status,absence_reason,create_time,
        update_time
    </sql>
    <insert id="autoAttendance">
        INSERT INTO olms.sys_attendance
        (user_id, appointment_id, status, absence_reason, create_time, update_time)
        select
            *
        from
            (
                select
                    sys_user.id uid,
                    sys_appointment.id,
                    '0',
                    null,
                    now() create_time,
                    now() update_time
                from
                    sys_appointment
                        inner join sys_user_student on
                        sys_appointment.class_number = sys_user_student.class_number
                        and sys_appointment.major_id = sys_user_student.major_id
                        and sys_appointment.grade = sys_user_student.grade
                        inner join sys_time_slot on
                        sys_appointment.time_slot_id = sys_time_slot.id
                        inner join sys_user on
                        sys_user_student.sid = sys_user.username
                where
                    sys_appointment.`type` = '1'
                    and current_date()= sys_appointment.book_time
                    and current_time() between start_time and end_time
                union all
                select
                    sys_user.id uid,
                    sys_appointment.id,
                    '0',
                    null,
                    now() create_time,
                    now() update_time
                from
                    sys_appointment
                        inner join sys_time_slot on
                        sys_appointment.time_slot_id = sys_time_slot.id
                        inner join sys_user on
                        sys_appointment.user_id = sys_user.id
                where
                    sys_appointment.`type` = '0'
                  and current_date()= sys_appointment.book_time
                  and current_time() between start_time and end_time
            ) as T
        where
            not exists(
                    select
                        *
                    from
                        sys_attendance
                    where
                        sys_attendance.appointment_id = T.id
                      and sys_attendance.user_id = T.uid)
    </insert>
    <select id="getTargetAttendanceForPerson" resultType="com.cuit9622.olms.vo.AttendanceForPersonVo">
        select sys_attendance.id,name lab_name,sys_attendance.status,absence_reason,experiment_name,book_time,start_time,end_time
        from sys_attendance
                 left join sys_appointment on sys_attendance.appointment_id  = sys_appointment.id
                 left join sys_time_slot on sys_time_slot.id=sys_appointment.time_slot_id
                 left join sys_lab on sys_lab.id=sys_appointment.lab_id
        where sys_attendance.user_id=#{userId}
    </select>
    <select id="getTargetAttendanceForClass" resultType="com.cuit9622.olms.vo.AttendanceForClassVo">
        select sys_appointment.id,name lab_name,sys_appointment.class_number,experiment_name,book_time,start_time,end_time
        from sys_appointment
                 left join sys_time_slot on sys_time_slot.id=sys_appointment.time_slot_id
                 left join sys_lab on sys_lab.id=sys_appointment.lab_id
        where (sys_appointment.user_id=#{userId}
            or sys_lab.master_id=#{userId})
          and sys_appointment.type=1
          and sys_appointment.status='1'
        order by book_time desc
    </select>
    <select id="getAttendanceForTargetAppointment"
            resultType="com.cuit9622.olms.vo.AttendanceForAppointmentVo">
        select status,real_name,username,sys_attendance.update_time
        from sys_attendance
                 left join sys_user on sys_user.id=sys_attendance.user_id
        where appointment_id=#{appointmentId}
    </select>
</mapper>
