<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.CollegeMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.College">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="collegeName" column="college_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,college_name
    </sql>
</mapper>
