<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.DeviceLendMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.DeviceLend">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="deviceId" column="device_id" jdbcType="BIGINT"/>
            <result property="lendTime" column="lend_time" jdbcType="TIMESTAMP"/>
            <result property="returnTime" column="return_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,device_id,
        lend_time,
        return_time
    </sql>
    <insert id="insertDeviceLend">
        insert sys_device_lend
            (user_id, device_id, lend_time)
        values(#{userId}, #{deviceId}, now());
    </insert>
    <update id="returnDeviceById">
        update sys_device set status = '0' where id = #{id};
    </update>
    <update id="updateReturnTime">
        update sys_device_lend set return_time = now() where device_id = #{id};
    </update>
    <update id="updateDeviceStatus">
        update sys_device set status = '2' where id = #{deviceId}
    </update>
    <select id="getAppointmentLab" resultType="map">
        select distinct(id), name from sys_lab where id in
             (select distinct(lab_id) from sys_appointment
                                      where status = '1'
                                        and user_id = #{id}
                                        and now() &lt;= concat(book_time, ' ', (select end_time from sys_time_slot where id = time_slot_id)));

    </select>
    <select id="page" resultType="com.cuit9622.olms.vo.DeviceVo">
        select name, images, model, price, count(*) count, lab_id labId
        from sys_device
        where
            status = '0'
            and lab_id = #{labId}
            and name like concat('%', #{name}, '%')
        group by model
    </select>
    <select id="pageInLend" resultType="com.cuit9622.olms.vo.DeviceVo">
        select name, images, price, model, count(*) count
        from sys_device
        where id in (select  device_id from sys_device_lend where user_id = #{userId} and return_time is null)
          and name like concat('%', #{name}, '%')
        group by model
    </select>
    <select id="getDeviceIdLong" resultType="java.lang.Long">
        select id from sys_device where model = #{deviceVo.model} and `status` = '2' limit 1;
    </select>

    <select id="checkTime" resultType="java.lang.Long">
        select id from sys_appointment
        where status = '1'
          and user_id = #{userId}
          and lab_id = #{deviceVo.labId}
          and now() &lt;= concat(book_time, ' ', (select end_time from sys_time_slot where id = time_slot_id))
          and now() >= concat(book_time, ' ', (select start_time from sys_time_slot where id = time_slot_id));
    </select>

    <select id="cheekAttendance" resultType="java.lang.Integer">
        select status from sys_attendance
        where
            appointment_id = #{appointmentId} and
            user_id = #{userId};
    </select>

    <select id="getDeviceId" resultType="java.lang.Long">
        select id from sys_device
        where
            lab_id = #{deviceVo.labId} and
            model = #{deviceVo.model} and
            status = '0'
        limit 1;
    </select>
</mapper>
