<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.Device">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="labId" column="lab_id" jdbcType="BIGINT"/>
        <result property="model" column="model" jdbcType="VARCHAR"/>
        <result property="images" column="images" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="insertOne">
        insert sys_device ( name, price, lab_id, model, images)
        values(#{device.name}, #{device.price},
               #{device.labId},
               #{device.model}, #{device.images});
    </insert>

    <update id="updateById">
        update sys_device set name = #{deviceVo.name},
                              price = #{deviceVo.price},
                              model = #{deviceVo.model},
                              images = #{deviceVo.images},
                              lab_id = #{deviceVo.labId}
        where id = #{deviceVo.id};
    </update>


    <select id="page" resultType="com.cuit9622.olms.vo.DeviceVo">
        select sys_device.id id,
               sys_device.name name,
               lab_id,
               sys_lab.name labName,
               price,
               model,
               sys_device.images images,
               sys_device.status status
        from sys_device
        left join
                sys_lab
        on
            sys_device.lab_id = sys_lab.id
        where sys_device.name like concat('%',#{name},'%') and
            (case
                 when #{status} != 1 then (sys_device.status = #{status})
                 else 1 = 1
                end)
    </select>

    <select id="getOne" resultType="com.cuit9622.olms.vo.DeviceVo">
        select sys_device.id id,
               sys_device.name name,
               lab_id,
               sys_lab.name labName,
               price,
               model,
               sys_device.images images,
               sys_device.status status
        from sys_device
        left join
            sys_lab
        on
            sys_lab.id = sys_device.lab_id
        where
             sys_device.id = #{id};
    </select>
    <select id="getDevices" resultType="com.cuit9622.olms.vo.DeviceVo">
        select sd.id,
               sd.name,
               sd.price,
               sd.lab_id,
               sl.name labName,
               sd.model,
               sd.images,
               sd.status
        from sys_device sd
                 left join sys_lab sl on sl.id = sd.lab_id
    </select>

</mapper>