<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <id property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
            <result property="majorId" column="major_id" jdbcType="BIGINT"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="classNumber" column="class_number" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,student_name,
        major_id,grade,class_number
    </sql>
    <select id="page" resultType="com.cuit9622.olms.vo.StudentVo">
        select sid,
               student_name,
               grade,
               class_number,
               (select major_name from sys_major where sys_major.id = sys_user_student.major_id) major_name,
               (select college_name
                from sys_college,
                     sys_major
                where sys_major.id = sys_user_student.major_id
                  and sys_college.id = sys_major.college_id)                                     college_name
        from sys_user_student

    </select>
    <select id="getStudentInfoByUsername" resultType="com.cuit9622.olms.vo.StudentVo">
        SELECT USER
                   .id,
               username,
               real_name,
               sid,
               student_name,
               sex,
               (SELECT major_name FROM sys_major WHERE sys_major.id = student.major_id) major_name,
               (SELECT college_name
                FROM sys_college,
                     sys_major
                WHERE sys_major.id = student.major_id
                  AND sys_college.id = sys_major.college_id)                            college_name,
               grade,
               class_number,
               phone,
               email,
               avatar,
               create_time,
               update_time
        FROM sys_user USER
                 INNER JOIN sys_user_student student ON student.sid = USER.username
        WHERE sid = #{username}
    </select>
</mapper>
