<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.cuit9622.olms.entity.Teacher">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="tid" column="tid" jdbcType="INTEGER"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="collegeId" column="college_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        tid,teacher_name,
        college_id
    </sql>
    <insert id="saveTeacher">
        insert into sys_user_teacher(tid, teacher_name, college_id)
        values(#{teacherVo.tid},#{teacherVo.teacherName},#{teacherVo.collegeId})
    </insert>
    <update id="updateTeacher">
        update sys_user_teacher
        set tid = #{teacherVo.tid},
            teacher_name = #{teacherVo.teacherName},
            college_id = #{teacherVo.collegeId}
        where tid = #{teacherVo.tid}
    </update>
    <select id="getTeacherInfoByUsername" resultType="com.cuit9622.olms.vo.TeacherVo">
        SELECT USER
                   .id,
               tid,
               teacher_name,
               college_id,
               username,
               real_name,
               sex,
               (SELECT college_name FROM sys_college WHERE teacher.college_id = sys_college.id) college_name,
               phone,
               email,
               avatar,
               create_time,
               update_time
        FROM sys_user USER
                 INNER JOIN sys_user_teacher teacher ON teacher.tid = USER.username
        WHERE tid = #{username}
    </select>
    <select id="page" resultType="com.cuit9622.olms.vo.TeacherVo">
        select tid,
               teacher_name,
               college_id,
               (select id from sys_user where sys_user.username = sys_user_teacher.tid) id,
               (select college_name from sys_college where sys_college.id = sys_user_teacher.college_id) college_name
               from sys_user_teacher
        <where>
            <if test="model.name != null and model.name !='' ">
                sys_user_teacher.teacher_name like concat('%',#{model.name},'%')
            </if>
        </where>
    </select>
</mapper>
