<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit9622.olms.mapper.UserMapper">

    <select id="getUserRoleInfoByUsername" resultType="java.lang.String">
        select role
        from sys_role
        where id in (select role_id
                     from sys_user_role
                     where user_id in (select id from sys_user where username = #{username}))
        order by sys_role.id
    </select>
    <select id="getUserIdBySid" resultType="java.lang.Long">
        select id from sys_user where username = #{sid}
    </select>
    <update id="updateContactByUserName">
        UPDATE olms.sys_user
        SET phone=#{phone}, email=#{email},avatar=#{avatar}
        WHERE username=#{username};
    </update>
</mapper>
